import os
import settings

PROJECT_PATH = os.path.abspath(os.path.dirname(__file__))

PISTON_DISPLAY_ERRORS=True
PISTON_IGNORE_DUPE_MODELS=True

SECRET_KEY = ''

MELISSI_REGISTRATIONS_OPEN = True
MELISSI_QUEUE_SERVICE = None
MELISSI_DATABASE = None
MELISSI_QUOTA = 100 * 1024 # 100 megabyte

SENDFILE=False

# uncomment to activate gunicorn
# INSTALLED_APPS = settings.INSTALLED_APPS + ('gunicorn', )
