import mongoengine
import os

PROJECT_PATH = os.path.abspath(os.path.dirname(__file__))

PISTON_DISPLAY_ERRORS=True
PISTON_IGNORE_DUPE_MODELS=True

SECRET_KEY = ''

MELISI_DATABASE = ''
MELISI_REGISTRATIONS_OPEN = True
MELISI_QUEUE_SERVICE = None
MELISI_DATABASE = None

SENDFILE=False

mongoengine.connect(MELISI_DATABASE)
